<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="grid-container">
        <header>
            <div class="container">
                <div class="box-1">
                    <div class="image-btn">
                        <img src="../images/favicon.ico" alt=""/>
                        <h1>Edi_<span>Mars24</span></h1>
                    </div>
                    <div class="cart">
                        <a href="/#/cart">Cart</a>
                    </div>
                </div>
                <div class="box-2">
                   <nav>
                       <button class="links_1">
                        <a href="#" class="Ho">Home</a>           
                        <a href="#" class="Ab">About</a>   
                        <a href="#" class="Ser">Service</a>   
                        <a href="#" class="Port">Portfolio</a>   
                        <a href="#" class="Blo">Blog</a>   
                        <a href="#" class="Con">Contact</a> 
                       </button>
                   </nav>
                    <div class="sign-in"><a href="/#/sign-in">Sign In</a></div>
                </div>
            </div>
        </header>
        <main>
            <div class="main"></div>
        </main>
        <footer>
            All rights reserved @2023. designed by Edi_CeM24, call: 08033323738, email: cemus24@gmail.com.
        </footer>
    </div>
    <script src="../index.js"></script>
</body>
</html>